.codeui-base {
  background-color: rgb(1, 22, 39);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: rgb(214, 222, 235);
  display: block;
  overflow-y: hidden;
  overflow-x: visible;
  padding: 1rem;
  line-height: 1.6;
  font-size: 16px;
}

.codeui-fileName {
  border-top: 2px solid grey;
  margin-top: 1.5rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: rgb(214, 222, 235);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
